body {
    background-color: #2a2a2e;
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    widows: 60px;
    background-color: white;
    height: auto;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: black;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
}
li a:hover {
    background-color: black;
    color: white;
}
li a.active {
    background-color: #2a79b1;
    color: white
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
p {
    font-family: sans-serif;
}
#me {
    width: 150px; 
    height: 150px;
}